.chatMessages {
  color: blue;
}

ul {
  list-style: none;
}

li {
  height: 20px;
}

.chatDivFull {
  height: 120px;
  color: salmon;
}

.chatDivWrapper {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.chatDivFull li:nth-child(1) {
  color: red;
	-webkit-animation: slide-top 2.5s linear both;
	animation: slide-top 2.5s linear both;
}

.chatDivFull li:nth-child(2) {
  opacity: 0.25
}
  
.chatDivFull li:nth-child(3) {
  opacity: 0.4
}

.chatDivFull li:nth-child(4) {
  opacity: 0.5
}

.chatDivFull li:nth-child(5) {
  opacity: 0.7
}

.chatDivFull li:nth-child(6) {
  opacity: 0.9
} 

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-600px);
    transform: translateY(-600px);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-600px);
    transform: translateY(-600px);
  }
}