.wholePage {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 100%;
}
.devWrapper {
  border: 1px black solid;
  border-radius: 15px;
  height: 50vmin;
  margin: 1%;
  width: 35vmin;
  background-color: rgba(255, 173, 173, 0.25);
}

.devGlue {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 5%;
}

.devIMage {
  height: 35vmin;
  border-radius: 15px;
}

h2 {
  font-size: 4vmin;
}

p {
  font-size: 2.5vmin;
}

img {
  height: 40vm;
}
