@font-face {
  font-family: 'tan_-_astoriaregular';
  src: url('../../../public/fonts/tan-astoria-display.woff2') format('woff2'),
    url('../../../public/fonts/tan-astoria-display.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
.wholePage {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 100%;
  background-size: 100% 100%;
  width: fit-content;
}
.devWrapper {
  border-radius: 15px;
  height: 40vmin;
  min-height: 30vmin;
  min-width: 30vmin;
  width: 35vmin;
  margin-bottom: 10px;
  /* background-image: url('https://i.imgur.com/vnCqFCq.png'); */
  /* background-size: 170%;
  background-position-x: center; */
}

.devGlue {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 5%;
}

.devIMage {
  height: 35vmin;
  border-radius: 15px;
}

h2 {
  font-size: 3vmin;
  margin-bottom: 50px;

  font-family: 'tan_-_astoriaregular';
  position: absolute;
}

.linkedin {
  font-size: 2.5vmin;
  text-decoration: none;
  font-family: 'tan_-_astoriaregular';
  color: black;
  position: absolute;
  /* margin-bottom: 20px; */
}
.github {
  font-size: 2.5vmin;
  text-decoration: none;
  font-family: 'tan_-_astoriaregular';
  color: black;
  position: absolute;
  margin-top: 60px;
}

.aboutHeader {
  display: flex;
  justify-content: center;
  align-items: center;

  background-size: 25%;
  width: 100%;
  height: 26vmin;
}

.headerImage {
  height: 40vmin;
  width: 40vmin;
  padding-top: 35px;
}

.grave {
  height: 27vmax;
  width: 40vmax;
  position: relative;
}
