.toggleGroup {
  margin: 1rem;
  justify-content: center;
}

.slider {
  /* position: relative; */
  margin-left: 20%;
  margin-bottom: 1rem;
}

.controlsButton {
  width: 12rem;
}

.sliderImage {
  position: absolute;
  background-color: rgb(255, 255, 255);
  margin-top: -0.3rem;
  margin-left: 5%;
}

.imageIcon {
  width: 3rem;
}

.sizing {
  align-items: center;
}

.loopers {
  width: 4rem;
}

.undo {
  width: 70px;
  align-content: space-between;
  justify-content: space-evenly;
}
